<footer class="footer">
  <div class="footer__container container container--big">
    <ul class="list-reset footer__list">
      <li class="footer__item">
        <span class="footer__logo logo">
          <span class="logo__left">Up</span>
          <span class="logo__right">Card</span>
        </span>
      </li>
      <li class="footer__item">
        <h3 class="footer__title title-h3">Контакты</h3>
        <ul class="list-reset footer__add-list add-list">
          <li class="add-list__item">
            <a href="mailto:teamdevup@gamil.com" class="add-list__link">teamdevup@gamil.com</a>
          </li>
          <li class="add-list__item">
            <a href="tel:+79833993030" class="add-list__link">+7 (983)-399 30-30</a>
          </li>
        </ul>
      </li>
      <li class="footer__item">
        <h3 class="footer__title title-h3">Служба поддержки</h3>
        <ul class="list-reset footer__add-list add-list">
          <li class="add-list__item">
            <a href="mailto:miksmirnov01@gmail.com" class="add-list__link">miksmirnov01@gmail.com</a>
          </li>
          <li class="add-list__item">
            <a href="tel:+79230035803" class="add-list__link">+7 (923) 003 58-03</a>
          </li>
        </ul>
      </li>
      <li class="footer__item">
        <h3 class="footer__title title-h3">Ссылки</h3>
        <ul class="list-reset footer__add-list add-list">
          <li class="add-list__item">
            <a href="#" class="add-list__link" target="_blank">Политика конфиденциальности</a>
          </li>
          <li class="add-list__item">
            <a href="#" class="add-list__link" target="_blank">Условия использования</a>
          </li>
          <li class="add-list__item">
            Изображение от <a class="add-list__link" href="https://ru.freepik.com/" target="_blank">Freepik</a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="footer__bottom">
      <a href="#" class="footer__bottom-link">Инструкция по использованию продукта</a>
      <a href="#" class="footer__social-link social-link animation-icon">
        <i class="fa-brands fa-telegram"></i>
      </a>
    </div>
  </div>
</footer>
