<header class="header">
  <div class="header__container container-fluid">
    <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
      <span class="burger__line"></span>
      <span class="burger__line"></span>
      <span class="burger__line"></span>
    </button>
    <nav class="nav" title="Главное меню" data-menu>
      <ul class="list-reset nav__list">
        <li class="nav__item"><a href="#instruction" class="nav__link" data-menu-item data-scroll>Как все работает</a>
        </li>
        <li class="nav__item"><a href="#advantages" class="nav__link" data-menu-item data-scroll>Возможности визитки</a>
        </li>
        <li class="nav__item"><a href="#share" class="nav__link" data-menu-item data-scroll>Как делиться</a></li>
        <li class="nav__item"><a href="#information" class="nav__link" data-menu-item data-scroll>Информация</a></li>
        <li class="nav__item"><a href="#portfolio" class="nav__link" data-menu-item data-scroll>Примеры визиток</a></li>
        <li class="nav__item"><a href="#tariff" class="nav__link" data-menu-item data-scroll>Тарифы</a></li>
        <li class="nav__item"><a href="#" class="btn-reset btn btn--header nav__btn">Зарегистрироваться</a></li>
      </ul>
    </nav>
  </div>
</header>
