<ul class="list-reset info-list">
  <li class="info-list__item">
    <h3 class="info-list__title title-h3">Для организации</h3>
    <div class="info-list__content">
      <div class="info-list__img">
        <picture>
          <source srcset="img/info/5.avif" type="image/avif">
          <source srcset="img/info/5.webp" type="image/webp">
          <img loading="lazy" src="img/info/5.png" class="image" alt="girl with tablet">
        </picture>
      </div>
      <div class="info-list__info glass-style" data-aos="zoom-in">
        <p class="text-regular">
          Снижение расходов на визитки, повышение эффективности работы команды
        </p>
      </div>
    </div>
  </li>
  <li class="info-list__item">
    <h3 class="info-list__title title-h3">Для личного бизнеса</h3>
    <div class="info-list__content">
      <div class="info-list__img">
        <picture>
          <source srcset="img/info/6.avif" type="image/avif">
          <source srcset="img/info/6.webp" type="image/webp">
          <img loading="lazy" src="img/info/6.png" class="image" alt="girl in chair with laptop">
        </picture>
      </div>
      <div class="info-list__info glass-style" data-aos="zoom-in">
        <p class="text-regular">
          Номер не попадет в спам, у клиента вся необходимая информация о тебе в одном месте
        </p>
      </div>
    </div>
  </li>
</ul>
