<div class="info__tabs info-tabs">
  <div class="tabs" data-tabs="info-tabs">
    <ul class="tabs__nav">
      <li class="tabs__nav-item">
        <button class="btn-reset tabs__nav-btn title-h3" type="button">Карта в смартфоне</button>
      </li>
      <li class="tabs__nav-item">
        <button class="btn-reset tabs__nav-btn title-h3" type="button">Визитка на PC</button>
      </li>
      <li class="tabs__nav-item">
        <button class="btn-reset tabs__nav-btn title-h3" type="button">Портфолио рядом</button>
      </li>
      <li class="tabs__nav-item">
        <button class="btn-reset tabs__nav-btn title-h3" type="button">QR-cod</button>
      </li>
    </ul>
    <div class="tabs__content">
      <div class="tabs__panel">
        <div class="info-tabs__block">
          <div class="info-tabs__img info-tabs__img--second">
            <picture>
              <source srcset="img/info/2.avif" type="image/avif">
              <source srcset="img/info/2.webp" type="image/webp">
              <img loading="lazy" src="img/info/2.png" class="image" alt="girl with phone">
            </picture>
          </div>
          <div class="info-tabs__info glass-style" data-aos="zoom-in">
            <h3 class="info-tabs__title title-h3">Карта всегда при себе</h3>
            <p class="info-tabs__descr text-regular">
              Ваша визитная карточка всегда при вас, в вашем смартфоне. Нет необходимости предоставлять бумажные
              визитки, которые быстро изнашиваются или могут затеряться.
              Вашу визитку никогда не потеряют.
            </p>
          </div>
        </div>
      </div>
      <div class="tabs__panel">
        <div class="info-tabs__block">
          <div class="info-tabs__img info-tabs__img--third">
            <picture>
              <source srcset="img/info/1.avif" type="image/avif">
              <source srcset="img/info/1.webp" type="image/webp">
              <img loading="lazy" src="img/info/1.png" class="image" alt="girl at the computer">
            </picture>
          </div>
          <div class="info-tabs__info glass-style" data-aos="zoom-in">
            <h3 class="info-tabs__title title-h3">Полный функционал на всех устройствах</h3>
            <p class="info-tabs__descr text-regular">
              Наши визитные карты и приложение можно свободно использовать и на компьютере. И при необходимости вы
              можете легко это сделать, способ работы аналогичен работе через мобильное устройство.
            </p>
          </div>
        </div>
      </div>
      <div class="tabs__panel">
        <div class="info-tabs__block">
          <div class="info-tabs__img">
            <picture>
              <source srcset="img/info/3.avif" type="image/avif">
              <source srcset="img/info/3.webp" type="image/webp">
              <img loading="lazy" src="img/info/3.png" class="image" width="455" height="500" alt="girl reading a book">
            </picture>
          </div>
          <div class="info-tabs__info glass-style" data-aos="zoom-in">
            <h3 class="info-tabs__title title-h3">Портфолио всегда под рукой</h3>
            <p class="info-tabs__descr text-regular">
              Вы всегда сможете при необходимости предоставить свои работы любому человеку, одной ссылкой, и сразу с
              возможностью связаться с вами или посетить ваш сайт. Портфолио может быть на любую специальность.
            </p>
          </div>
        </div>
      </div>
      <div class="tabs__panel">
        <div class="info-tabs__block">
          <div class="info-tabs__img info-tabs__img--fourch">
            <picture>
              <source srcset="img/info/4.avif" type="image/avif">
              <source srcset="img/info/4.webp" type="image/webp">
              <img loading="lazy" src="img/info/4.png" class="image" alt="girl with QR-code">
            </picture>
          </div>
          <div class="info-tabs__info glass-style" data-aos="zoom-in">
            <h3 class="info-tabs__title title-h3">Легкий способ поделиться</h3>
            <p class="info-tabs__descr text-regular">
              Для того, чтобы предоставить свою визитную карточку собеседнику, вам необходимо просто показать личный
              QR-код из приложения, либо отправить ссылку своей карты.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
