<section class="hero section-block">
  <div class="hero__container container container--big">
    <h1 class="hero-title hero__title">
      <span class="hero-title__logo logo">
        <span class="logo__left">Up</span>
        <span class="logo__right">Card</span>
      </span>
      <span class="hero-title__text">В<span>а</span>ша электронная визитка</span>
    </h1>
    <div class="hero__block block-illumination glass-style" data-aos="zoom-in">
      <div class="hero__descr">
        <p>Российский сервис, который позволит вам создать визитку и управлять ее из мобильного приложения.</p>
        <p>Отправляйте визитку из приложения по email и мессенджеры, делитесь через QR-код.</p>
      </div>
      <a href="#" class="hero__btn btn">Зарегистрироваться</a>
    </div>
  </div>
</section>
