<section class="section-form section-block">
  <div class="section-form__container container">
    <h2 class="title-section title-h2">
      Есть вопросы - напишите нам
    </h2>
    <form action="#" class="form">
      <label class="form__label label">
        <input type="text" name="Имя" class="input-reset input form__input input-name"
          placeholder="Иванов Иван Иванович" required>
        <span>Напишите свое ФИО</span>
      </label>
      <label class="form__label label">
        <input type="email" name="email" class="input-reset input form__input input-email"
          placeholder="ivanov-ivan@mail.com" required>
        <span>Напишите свой Email</span>
      </label>
      <label class="form__label label">
        <input type="tel" name="телефон" class="input-reset input form__input input-tel"
          placeholder="+7 (999)-999 99-99" required>
        <span>Напишите свой номер телефона</span>
      </label>
      <label class="form__label label">
        <input type="text" name="название компании" class="input-reset input form__input" placeholder="Строй Сервис">
        <span>Напишите название своей компании (при наличии)</span>
      </label>
      <label class="form__label label">
        <textarea name="" id="" cols="30" rows="5" class="input textarea"
          placeholder="Хотелось бы уточнить несколько вопросов касательно расположения информации в визитке"
          required></textarea>
        <span>Напишите вопрос</span>
      </label>
      <div class="form__bottom">
        <button class="btn-reset btn form__btn">Отправить вопрос</button>
        <p class="form__descr text-little">
          Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь с
          <a href="#" class="form__link">политикой конфиденциальности</a>
        </p>
      </div>
    </form>
  </div>
</section>
