<section class="tariff section-block" id="tariff">
  <div class="tariff__container container">
    <h2 class="title-section title-h2">
      Доступные тарифы
    </h2>
    <ul class="list-reset tariff__list">
      <li class="tariff__item tariff-item glass-style" data-aos="zoom-in">
        <h3 class="tariff-item__title title-h3">Самозанятый</h3>
        <div class="tariff-item__top">
          <div class="tariff-item__value tariff-value">
            <div class="tariff-value__price"><span>159</span> Рублей</div>
            <div class="tariff-value__explanation">месяц</div>
          </div>
          <span class="tariff__plus">
            <i class="fa-solid fa-plus"></i>
          </span>
          <p class="tariff__descr text-regular">
            79 рублей за доп. визитку
          </p>
        </div>
        <div class="tariff-item__bottom">
          <div class="tariff-item__subtitle text-regular">Вы получаете:</div>
          <ul class="list-reset tariff-item__list">
            <li class="tariff-item__list-item text-little">
              1. Доступ к личному кабинету
            </li>
            <li class="tariff-item__list-item text-little">
              2. Полное управление информацией в визитке и ее внешним видом
            </li>
            <li class="tariff-item__list-item text-little">
              3. Возможность доработок
            </li>
            <li class="tariff-item__list-item text-little">
              4. Редактирование полей визитки при неизменном QR-коде
            </li>
            <li class="tariff-item__list-item text-little">
              5. Доступ к технической поддержке
            </li>
          </ul>
        </div>
      </li>
      <li class="tariff__item tariff-item glass-style" data-aos="zoom-in">
        <h3 class="tariff-item__title title-h3">Бизнес</h3>
        <div class="tariff-item__top">
          <div class="tariff-item__value tariff-value">
            <div class="tariff-value__price"><span>499</span> Рублей</div>
            <div class="tariff-value__explanation">месяц</div>
          </div>
          <span class="tariff__plus">
            <i class="fa-solid fa-plus"></i>
          </span>
          <p class="tariff__descr text-regular">
            249 рублей за доп. визитку
          </p>
        </div>
        <div class="tariff-item__bottom">
          <div class="tariff-item__subtitle text-regular">Вы получаете:</div>
          <ul class="list-reset tariff-item__list">
            <li class="tariff-item__list-item text-little">
              1. Все, что получает <span>самозанятый</span>
            </li>
            <li class="tariff-item__list-item text-little">
              2. Подключение нескольких аккаунтов к одному (главному) аккаунту
            </li>
            <li class="tariff-item__list-item text-little">
              3. Подключение эквайринга
            </li>
            <li class="tariff-item__list-item text-little">
              4. Единый стиль визиток в стиле компании
            </li>
            <li class="tariff-item__list-item text-little">
              5. Многое другое
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
