<section class="portfolio section-block" id="portfolio">
  <div class="portfolio__container container container--big">
    <h2 class="title-section title-h2 portfolio__title">
      Несколько примеров вашей визитки
    </h2>
    <button class="btn-reset swiper-button swiper-button-prev"></button>
    <div class="swiper portfolio__swiper" data-aos="zoom-in">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="portfolio-slide portfolio-slide--second">
            <div class="portfolio-slide__pictures">
              <div class="portfolio-slide__img portfolio-slide__img--pc">
                <picture>
                  <source srcset="img/portfolio/1-pc.avif" type="image/avif">
                  <source srcset="img/portfolio/1-pc.webp" type="image/webp">
                  <img loading="lazy" src="img/portfolio/1-pc.png" class="image" width="" height="" alt="">
                </picture>
              </div>
              <div class="portfolio-slide__img portfolio-slide__img--mob">
                <picture>
                  <source srcset="img/portfolio/1-mobile.avif" type="image/avif">
                  <source srcset="img/portfolio/1-mobile.webp" type="image/webp">
                  <img loading="lazy" src="img/portfolio/1-mobile.png" class="image" width="" height="" alt="">
                </picture>
              </div>
            </div>
            <div class="portfolio-slide__info glass-style">
              <p class="text-regular">
                Визитка компании FreelanceUp
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="portfolio-slide">
            <div class="portfolio-slide__pictures">
              <div class="portfolio-slide__img portfolio-slide__img--pc">
                <picture>
                  <source srcset="img/portfolio/2-pc.avif" type="image/avif">
                  <source srcset="img/portfolio/2-pc.webp" type="image/webp">
                  <img loading="lazy" src="img/portfolio/2-pc.png" class="image" width="" height="" alt="">
                </picture>
              </div>
              <div class="portfolio-slide__img portfolio-slide__img--mob">
                <picture>
                  <source srcset="img/portfolio/2-mobile.avif" type="image/avif">
                  <source srcset="img/portfolio/2-mobile.webp" type="image/webp">
                  <img loading="lazy" src="img/portfolio/2-mobile.png" class="image" width="" height="" alt="">
                </picture>
              </div>
            </div>
            <div class="portfolio-slide__info glass-style">
              <p class="text-regular">
                Вариант визитки в нейтральном стиле
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="portfolio-slide">
            <div class="portfolio-slide__pictures">
              <div class="portfolio-slide__img portfolio-slide__img--pc">
                <picture>
                  <source srcset="img/portfolio/3-pc.avif" type="image/avif">
                  <source srcset="img/portfolio/3-pc.webp" type="image/webp">
                  <img loading="lazy" src="img/portfolio/3-pc.png" class="image" width="" height="" alt="">
                </picture>
              </div>
              <div class="portfolio-slide__img portfolio-slide__img--mob">
                <picture>
                  <source srcset="img/portfolio/3-mobile.avif" type="image/avif">
                  <source srcset="img/portfolio/3-mobile.webp" type="image/webp">
                  <img loading="lazy" src="img/portfolio/3-mobile.png" class="image" width="" height="" alt="">
                </picture>
              </div>
            </div>
            <div class="portfolio-slide__info glass-style">
              <p class="text-regular">
                Вариант личной уникальной визитки (тату-мастер)
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="portfolio-slide">
            <div class="portfolio-slide__pictures">
              <div class="portfolio-slide__img portfolio-slide__img--pc">
                <picture>
                  <source srcset="img/portfolio/4-pc.avif" type="image/avif">
                  <source srcset="img/portfolio/4-pc.webp" type="image/webp">
                  <img loading="lazy" src="img/portfolio/4-pc.png" class="image" width="" height="" alt="">
                </picture>
              </div>
              <div class="portfolio-slide__img portfolio-slide__img--mob">
                <picture>
                  <source srcset="img/portfolio/4-mobile.avif" type="image/avif">
                  <source srcset="img/portfolio/4-mobile.webp" type="image/webp">
                  <img loading="lazy" src="img/portfolio/4-mobile.png" class="image" width="" height="" alt="">
                </picture>
              </div>
            </div>
            <div class="portfolio-slide__info glass-style">
              <p class="text-regular">
                Вариант личной визитки медицинского работника (стоматолог)
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="portfolio-slide">
            <div class="portfolio-slide__pictures">
              <div class="portfolio-slide__img portfolio-slide__img--pc">
                <picture>
                  <source srcset="img/portfolio/5-pc.avif" type="image/avif">
                  <source srcset="img/portfolio/5-pc.webp" type="image/webp">
                  <img loading="lazy" src="img/portfolio/5-pc.png" class="image" width="" height="" alt="">
                </picture>
              </div>
              <div class="portfolio-slide__img portfolio-slide__img--mob">
                <picture>
                  <source srcset="img/portfolio/5-mobile.avif" type="image/avif">
                  <source srcset="img/portfolio/5-mobile.webp" type="image/webp">
                  <img loading="lazy" src="img/portfolio/5-mobile.png" class="image" width="" height="" alt="">
                </picture>
              </div>
            </div>
            <div class="portfolio-slide__info glass-style">
              <p class="text-regular">
                Вариант личной строгой визитки
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <button class="btn-reset swiper-button swiper-button-next"></button>
  </div>
</section>
