<section class="advantages section-block" id="advantages">
  <div class="advantages__container container">
    <h2 class="title-section title-h2">
      Возможности электронной визитки
    </h2>
    <ul class="list-reset advantages__list" data-aos="zoom-in">
      <li class="advantages__item advantages-item">
        <div class="advantages-item__top">
          <div class="advantages-item__icon animation-icon">
            <i class="fa-solid fa-floppy-disk"></i>
          </div>
          <h3 class="advantages-item__title title-h3">
            Моментальное сохранение контакта
          </h3>
        </div>
        <p class="advantages-item__descr text-regular">
          Делитесь своей визиткой напрямую через смартфон. Ваш контакт не потребуется сохранять вручную
        </p>
      </li>
      <li class="advantages__item advantages-item">
        <div class="advantages-item__top">
          <div class="advantages-item__icon animation-icon">
            <i class="fa-solid fa-comments"></i>
          </div>
          <h3 class="advantages-item__title title-h3">
            Формат для мессенджеров
          </h3>
        </div>
        <p class="advantages-item__descr text-regular">
          Делитесь своей визиткой напрямую через смартфон. Ваш контакт не потребуется сохранять вручную
        </p>
      </li>
      <li class="advantages__item advantages-item">
        <div class="advantages-item__top">
          <div class="advantages-item__icon animation-icon">
            <i class="fa-solid fa-wrench"></i>
          </div>
          <h3 class="advantages-item__title title-h3">
            Расскажите о своем роде деятельности
          </h3>
        </div>
        <p class="advantages-item__descr text-regular">
          Информация о вашей компании или специализации: описание, ссылки, отзывы, портфолио и мн. другое
        </p>
      </li>
      <li class="advantages__item advantages-item">
        <div class="advantages-item__top">
          <div class="advantages-item__icon animation-icon">
            <i class="fa-solid fa-briefcase"></i>
          </div>
          <h3 class="advantages-item__title title-h3">
            Покажите свое портфолио
          </h3>
        </div>
        <p class="advantages-item__descr text-regular">
          В визитке расположена страница с вашим портфолио, куда вы можете добавлять работы через личный кабинет
        </p>
      </li>
      <li class="advantages__item advantages-item">
        <div class="advantages-item__top">
          <div class="advantages-item__icon animation-icon">
            <i class="fa-solid fa-link"></i>
          </div>
          <h3 class="advantages-item__title title-h3">
            Ссылка на сайт или оплату
          </h3>
        </div>
        <p class="advantages-item__descr text-regular">
          Добавьте ссылку на свой сайт, а также ссылки на оплату ваших услуг
        </p>
      </li>
      <li class="advantages__item advantages-item">
        <div class="advantages-item__top">
          <div class="advantages-item__icon animation-icon">
            <i class="fa-solid fa-phone-slash"></i>
          </div>
          <h3 class="advantages-item__title title-h3">
            Моментальная связь в мессенджерах
          </h3>
        </div>
        <p class="advantages-item__descr text-regular">
          Связь через мессенджеры без предварительного добавления контакта
        </p>
      </li>
    </ul>
  </div>
</section>
