<section class="share section-block" id="share">
  <div class="share__container container">
    <h2 class="title-section title-h2">
      Как делиться электронной визиткой
    </h2>
    <ul class="list-reset share__list">
      <li class="share__item share-item">
        <div class="share-item__pictures">
          <div class="share-item__img share-item__img--screen" data-aos="zoom-in">
            <picture>
              <source srcset="img/share/1.avif" type="image/avif">
              <source srcset="img/share/1.webp" type="image/webp">
              <img loading="lazy" src="img/share/1.png" class="image" alt="mainpage">
            </picture>
          </div>
          <div class="share-item__img share-item__img share-item__img--mascot">
            <picture>
              <source srcset="img/share/3.avif" type="image/avif">
              <source srcset="img/share/3.webp" type="image/webp">
              <img loading="lazy" src="img/share/3.png" class="image" width="266" height="300" alt="mainpage">
            </picture>
          </div>
        </div>
        <div class="share-item__block glass-style">
          <h3 class="share-item__title title-h3">На расстоянии</h3>
          <p class="share-item__descr text-regular">
            Отправьте визитку в мессенджере, SMS или по email
          </p>
        </div>
      </li>
      <li class="share__item share-item">
        <div class="share-item__pictures share-item__pictures--second">
          <div class="share-item__img share-item__img--screen" data-aos="zoom-in">
            <picture>
              <source srcset="img/share/2.avif" type="image/avif">
              <source srcset="img/share/2.webp" type="image/webp">
              <img loading="lazy" src="img/share/2.png" class="image" alt="mainpage">
            </picture>
          </div>
          <div class="share-item__img share-item__img share-item__img--mascot">
            <picture>
              <source srcset="img/share/4.avif" type="image/avif">
              <source srcset="img/share/4.webp" type="image/webp">
              <img loading="lazy" src="img/share/4.png" class="image" width="266" height="300" alt="mainpage">
            </picture>
          </div>
        </div>
        <div class="share-item__block glass-style">
          <h3 class="share-item__title title-h3">При встрече</h3>
          <p class="share-item__descr text-regular">
            Предложите отсканировать камерой смартфона QR-код вашей визитной карты. Собеседнику ничего не требуется
            устанавливать
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
