<section class="instruction section-block" id="instruction">
  <div class="instruction__container container">
    <h2 class="title-section title-h2">
      Как использовать электронную визитку
    </h2>
    <ul class="list-reset instruction__list">
      <li class="instruction__item instruction-item">
        <div class="instruction-item__img">
          <picture>
            <source srcset="img/instruction/1.avif" type="image/avif">
            <source srcset="img/instruction/1.webp" type="image/webp">
            <img loading="lazy" src="img/instruction/1.png" class="image" width="385" height="250" alt="peace">
          </picture>
        </div>
        <div class="instruction-item__block glass-style" data-aos="zoom-in">
          <h3 class="instruction-item__title title-h3">1. Оформление подписки</h3>
          <p class="instruction-item__descr text-regular">
            Вы приобретаете подписку. Это можно сделать у нас на сайте или написать в поддержку, где вам могут
            предложить альтернативные решения.
          </p>
        </div>
      </li>
      <li class="instruction__item instruction-item">
        <div class="instruction-item__img instruction-item__img--second">
          <picture>
            <source srcset="img/instruction/2.avif" type="image/avif">
            <source srcset="img/instruction/2.webp" type="image/webp">
            <img loading="lazy" src="img/instruction/2.png" class="image" width="359" height="302" alt="pencil">
          </picture>
        </div>
        <div class="instruction-item__block instruction-item__block--second glass-style block-illumination"
          data-aos="zoom-in">
          <h3 class="instruction-item__title title-h3">2. Зайти в личный кабинет</h3>
          <p class="instruction-item__descr text-regular">
            После вам будет необходимо зайти в ваш личный кабинет, чтобы вы могли использовать все возможности вашей
            новой визитной карты.
          </p>
          <a href="#" class="instruction-item__btn btn">Войти в личный кабинет</a>
        </div>
      </li>
      <li class="instruction__item instruction-item">
        <div class="instruction-item__img instruction-item__img--third">
          <picture>
            <source srcset="img/instruction/3.avif" type="image/avif">
            <source srcset="img/instruction/3.webp" type="image/webp">
            <img loading="lazy" src="img/instruction/3.png" class="image" width="359" height="302" alt="pencil">
          </picture>
        </div>
        <div class="instruction-item__block glass-style" data-aos="zoom-in">
          <h3 class="instruction-item__title title-h3">3. Использовать продукт</h3>
          <p class="instruction-item__descr text-regular">
            После нескольких достаточно простых шагов вы можете полноценно использовать вашу новую визитку, изменять,
            делиться и многое другое.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
